section {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background-color: black;
}
section:nth-child(2n + 1) {
    background-color: var(--primary-050);
    color: var(--secondary-050);
}
iframe {
    width: 100%;
    height: 100%;
}
#sec1 {
    margin-top: 10vh;
}
.p1{
    writing-mode: vertical-rl;
    padding: 3rem 3rem;
    font-size: 1.5rem;
    color: white;
}
.p2{
    writing-mode: vertical-rl;
    padding: 3rem 3rem;
    font-size: 1.5rem;
    color: black;
}
